body{
  background-color: #A7D2CB;
  text-align: center;
}

a{
  text-decoration: none;
  margin: 20px 10px;
}

a:hover{
  color: red;
}

h2{
  font-family: Sacramento;
  color: #277BC0;

}

hr{
  border: dotted #EAF6F6;
  border-bottom: none;
  width: 6%;
  margin-bottom: 50px;
  margin-top: 50px;
}

.smile-1{
  border-radius: 100%;
}

.qc-1{

}

.hand-1{
  border-radius: 100%;
}


.foot-1{
background-color: #C0D8C0;
font-family: Sacramento;
padding: 20px 0px 10px;

}

.copy-1{
  font-size: 10px;
}
